* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
}

#section_corrida {
    height: 100dvh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#section_corrida h2 {
    text-align: center;
    letter-spacing: 6px;
}

#section_corrida img {
    width: 8.5vw;
}

.espaco_total {
    width: 100vw;
}

.espaco_total:nth-child(1) {
    top: 10vh;
    left: 0%;
}

.espaco_total:nth-child(2) {
    top: 20vh;
    left: 0%;
}

.espaco_total:nth-child(3) {
    top: 30vh;
    left: 0%;
}

.espaco_total:nth-child(4) {
    top: 0%;
    left: 0%;
}

.espaco_total:nth-child(5) {
    top: 0%;
    left: 0%;
}

.espaco_total:nth-child(6) {
    top: 0%;
    left: 0%;
}

.espaco_cavalo {
    /* background-color: aqua; */
    width: 8vw;
    text-align: center;
    letter-spacing: 2px;
    transition: 5s ease;
}

.espaco_cavalo p {
    position: relative;
    top: 2vh;
}

#tela_carregamento {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.445) 55%, black 100%),
        url('img/maxresdefault.jpg');
    background-size: contain;
    background-position: center;
    left: 0vw;
    height: 100dvh;
    width: 100vw;
    top: 0vh;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.carregamento_menu {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 50VW;
    padding: 0vh 2vw;
    height: 6vh;
    font-size: 2.6rem;
    bottom: 4vh;
    border-radius: 2px;
    display: flex;
    align-items: center;
    gap: 3vw;
    font-weight: 700;
}

.carregamento_menu span {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #ffffff;
    bottom: 6vh;
    animation: loading 400ms ease infinite alternate;
}

.carregamento_menu .span_2 {
    animation-delay: 100ms;
}

.carregamento_menu .span_3 {
    animation-delay: 200ms;
}

.carregamento_menu .span_4 {
    animation-delay: 400ms;
}

.carregamento_menu .span_5 {
    animation-delay: 500ms;
}

@keyframes loading {
    0% {
        top: 10px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        box-shadow: 0px 5px 5px 4px rgb(0, 0, 0);
        background-color: #cf1698;
    }

    40% {
        height: 20px;
        border-radius: 50%;
    }

    100% {
        top: -20px;
    }
}

.carregamento_menu p {
    animation: letra 400ms ease infinite;
}

@keyframes letra {
    0% {
        color: #cf1698;
    }
}

section {
    width: 100vw;
    height: 100dvh;
}

.section_erros {
    background-color: rgba(0, 0, 0, 0.596);
    position: absolute;
    top: 0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_erros {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px white;
    width: 40vw;
    height: 60vh;
    top: 20vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 4vh 3vw;
    background-position: center;
    animation: scala_pequena 2s;
    background: radial-gradient(rgba(0, 0, 0, 0.404) 40%, rgba(0, 0, 0, 0.63) 100%), url('img/img_fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 2rem;

}

@keyframes scala_pequena {
    0% {
        transform: scale(0.2);
    }

    90% {
        transform: scale(1.2);

    }

    100% {
        transform: scale(1.0);

    }
}

.div_erros button,#botao_aposta {
    background-color: #00000000;
    color: white;
    padding: 1vh;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    border: solid 4px rgba(255, 255, 255, 0.534);
    width: 80%;
    border-image-slice: 1;
    border-width: 1.2px;
    border-left: none;
    border-right: none;
    border-image-source: linear-gradient(270deg, hsla(0, 0%, 31%, 0), #ffffff, hsla(0, 0%, 100%, 0));
    ;
    cursor: pointer;
}

.div_erros button:hover {
    width: 100%;
    border-width: 2px;
    font-size: 1.5rem;
}

.div_erros img {
    width: 10%;
    position: relative;
    bottom: 6vh;
    transform: scale(3.5);
}

#body #section_cadastro {
    width: 100vw;
    height: 100dvh;
    position: relative;
    display: flex;
    gap: 7vw;
    justify-content: center;
    align-items: center;
    padding: 0vh 5vw;
    background: url('img/funod_casd.png');
    background-position: center;
    background-size: cover;
    color:rgb(123, 0, 74);
}

h2 {
    text-align: center;
    color: #663399;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px #a684d7;
}

input[type="number"],
input[type="text"] {
    padding: 7px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 2px solid #cda9ff;
    outline: none;
    width: 100%;
    text-align: center;
    box-shadow: inset 0 0 10px #e9d9ff;
    transition: border-color 0.3s;
}

input[type="number"]:focus,
input[type="text"]:focus {
    border-color: #a27cff;
}

.btn-grad {
    padding: 12px;
    background: linear-gradient(45deg, #ba0cd9, #e62ed3);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 5px 10px #b784ff;
    transition: background 0.3s;
}

.btn-grad:hover {
    background: linear-gradient(45deg,  #e62ed3, #ba0cd9);
}

#body .div_cadastro {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

#body .div_cadastrados {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #ffffffe3;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px rgb(115, 81, 131);
    color: #000;
}
@keyframes aparecer {
    from {
        transform: translateY(-100%);
    }
}
.div_cadastrados div {
    display: flex;
    border: solid 2px rgb(92, 42, 138);
    width: 35vw;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    font-size: 2rem;
    animation: aparecer 2s ease;
    width: 100%;
}

.div_cadastrados img {
    width: 7vw;
    border-radius: 100px;
}

#lixeira {
    width: 3.5vw;
    height: 3.5vw;
    cursor: pointer;

}



::-webkit-scrollbar {
    width: 16px;
    /* Define a largura da barra de rolagem */
    background-color: rgb(226, 226, 226);
}

::-webkit-scrollbar-track {

    border-radius: 10px;
    /* Cantos arredondados da trilha */
}

::-webkit-scrollbar-thumb {
    background: rgb(92, 42, 138);
    /* Cor do botão de rolagem */
    border-radius: 20px;
    /* Cantos arredondados */
}

#body .cad_titulo {
    text-transform: uppercase;

}

.background_efeito {
    width: 40vw;
    border-radius: 15px;
    padding: 3px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(270deg, #bb5ba063, #5d2c4f67, rgba(255, 255, 255, 0.363));
    animation: radiante-lateral 7s infinite linear alternate;
    background-size: 300% 300%;
}

@keyframes radiante-lateral {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.div_cadastro {
    background-color: #ffffff63;
    display: flex;
    backdrop-filter: blur(10px);
}


#tela_inicial {
    background: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.651) 60%, black 100%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.418) 10%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(to top, rgba(0, 0, 0, 0.418) 10%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%),
        url('img/tela_inicial.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 10vh;
}

#tela_inicial button {
    background-color: #00000000;
    color: white;
    padding: 1vh;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    width: 50%;

    backdrop-filter: blur(10px);

}

#tela_inicial button {
    position: relative;
    padding: 16px 40px;
    color: #fff;
    background: transparent;
    border: 2px solid #310555;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #310555, 0 0 20px #310555;
}

#tela_inicial button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #310555, #00aaff, #310555);
    transition: all 0.4s ease;
    z-index: -1;
}

#tela_inicial button:hover::before {
    left: 0;
}

#tela_inicial button:hover {
    color: #000;
    text-shadow: none;
    box-shadow: 0 0 20px #310555, 0 0 40px #00aaff;
}

svg {
  width: 100vw;
  height: 20vh;
  display: block;
  margin: 100px auto;
}

text {
  font-family: Arial, sans-serif;
  font-size: 4rem; /* diminui para garantir que caiba */
  fill: #ffffff;
  letter-spacing: 2px;
}
#body .div_cadastro_todos{
}
.div-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 1vh 5vw;
    text-align: center;
    width: 100%;
}
.cad_titulo{
    font-size: 1.8rem;
    font-weight: 800;
}


#body .div_cadastrados{
    height: 70%;
    width: 98%;
}
#tela_aposta{
    background: radial-gradient(rgba(9, 10, 73, 0.13), rgba(1, 0, 5, 0.705)) , url('img/funod_casd.png');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
   padding-bottom: 40px;
}
.aposta{
    display: flex;
    width: 100%;
    justify-content: center;
}
.aposta img{
    cursor: pointer;
  filter: grayscale(60%); 
}
.aposta img:hover{
  filter: grayscale(0%); 
}
#tit_aposta{
    font-size: 3rem;
    text-transform: uppercase;
}
.aposta div p{
    font-size: 1.5rem;
    color: grey;
    background-color: #000;
}
.aposta button{

}
#botao_aposta{
    width: 100%;
}